<section>
    <h1 class="section-title">Todas as tasks</h1>
    <ul class="task-list">
        {{#each tasks}}
        <li>
            {{#if this.done}}
            <a href="/" class="title done">{{this.title}}</a>
            {{else}}
            <a href="/" class="title">{{this.title}}</a>
            {{/if}}
            <div class="actions">

                <form action="/tasks/updatestatus" method="POST">
                    <input type="hidden" name="id" value="{{this.id}}">
                    <input type="hidden" name="done" value="{{this.done}}">
                    <button type="submit" class="icon confirm-icon">
                        {{#if this.done}}
                        <i class="bi bi-arrow-counterclockwise"></i>
                        {{else}}
                        <i class="bi bi-check2"></i>
                        {{/if}}
                    </button>
                </form>

                <a href="/tasks/edit/{{this.id}}" class="icon edit-icon">
                    <i class="bi bi-pencil-square"></i>
                </a>

                <form action="/tasks/remove" method="POST">
                    <input type="hidden" name="id" value="{{this.id}}">
                    <button type="submit" class="icon delete-icon">
                        <i class="bi bi-x-lg"></i>
                    </button>
                </form>

            </div>
        </li>
        {{/each}}
    </ul>
</section>